$material-icons-font-path: "~material-icons/iconfont/";
@import "material-icons/iconfont/material-icons.scss";

$primary-color: #462aa5;
$secondary-color: #2aa54b;
$tertiary-color: #160b3e;
$quartenary-color: #dcdcdc;
$background-light: #fcfbff;
$background-dark: #b4b5b4;

//
$colorWhite: #fff;
$colorPurple: #462aa5;
$colorGrey: #707070;
$colorGreen: #00b442;
$colorGreyTextDesc: #c4c4c4;
$colorGreyCaption: #efefef;
$colorGreySectionBG: rgba(#efefef, 0.44);
$color000: #000;
$colorffb201: #ffb201;
